﻿@page "/carlist"
@using System.Net.Http
@using frontCarLocation.Data
@inject HttpClient Http


<h3>Car List</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Color</th>
            <th>IsAvailable</th>
        </tr>
    </thead>
    @if (carItems != null)
    {
        <tbody>

            @foreach (var car in carItems)
            {
                <tr>
                    <td>@car.Id</td>
                    <td>@car.brand</td>
                    <td>@car.color</td>
                    <td>@car.IsAvalaible</td>
                </tr>
            }
        </tbody>
    }
</table>


@code {
    private CarItems[] carItems;

    protected override async Task OnInitializedAsync() =>
        carItems = await Http.GetJsonAsync<CarItems[]>("https://localhost:5001/api/CarLocationChoices");
}