﻿@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private int currentCount = 0;
    private int value = 2;

    private void IncrementCount()
    {
         currentCount = currentCount + value;
    }
}
