﻿@page  "/steps"
@using frontCarLocation.Data
<h3 style="margin-bottom:3em">Step Wiz</h3>

<div>
    <ul class="nav nav-pills nav-justified">
        @foreach (var element in stepsList)
        {
            <li class='@element.Name'>@element.stepsNum</li>

        }
    </ul>

    </div>

<div style="margin-top:6em">
    <button class="btn btn-primary" type="button" @onclick="HandlePreviousStep">Previous</button>
    <button class="btn btn-primary" type="button" @onclick="HandleNextStep">Next</button>

</div>

@code {
    private int stepX = 1;
    private string currentActive = "active";
    private List<KeyValuePair<string, int>> list =  new List<KeyValuePair<string, int>>();
    List<Steps> stepsList = new List<Steps>
{
    new Steps { Name = "general toto active", stepsNum = 1, isViewed = true },
    new Steps { Name = "general none", stepsNum = 2, isViewed = false },
    new Steps { Name = "general none", stepsNum = 3, isViewed = false },
    new Steps { Name = "general none", stepsNum = 4, isViewed = false }
};


    private void HandleNextStep()
    {
        stepX++;
        switch (stepX) {
            case 1:
                Console.WriteLine(stepX);
                break;
            case 2:
                stepsList.Where(w => w.stepsNum == 2).ToList().ForEach(s => s.Name = "general toto active");
                Console.WriteLine(stepX);
                break;
            case 3:
                stepsList.Where(w => w.stepsNum == 3).ToList().ForEach(s => s.Name = "general toto active");
                Console.WriteLine(stepX);
                break;
            case 4:
                stepsList.Where(w => w.stepsNum == 4).ToList().ForEach(s => s.Name = "general toto active");
                Console.WriteLine(stepX);
                break;
            default:
                stepX = 4;
                break;
        }
        stepsList.Where(w => w.stepsNum < stepX).ToList().ForEach(s => s.Name = "general toto");
    }

    private void HandlePreviousStep()
    {
        stepX--;
        switch (stepX) {
            case 1:
                stepsList.Where(w => w.stepsNum == 1).ToList().ForEach(s => s.Name = "general toto active");
                Console.WriteLine(stepX);
                break;
            case 2:
                stepsList.Where(w => w.stepsNum == 2).ToList().ForEach(s => s.Name = "general toto active");
                Console.WriteLine(stepX);
                break;
            case 3:
                stepsList.Where(w => w.stepsNum == 3).ToList().ForEach(s => s.Name = "general toto active");
                Console.WriteLine(stepX);
                break;
            case 4:
                stepsList.Where(w => w.stepsNum == 4).ToList().ForEach(s => s.Name = "general toto active");
                Console.WriteLine(stepX);
                break;
            default:
                stepX = 1;
                break;
        }
        stepsList.Where(w => w.stepsNum > stepX).ToList().ForEach(s => s.Name = "general none");
    }


}
