﻿@page "/styles"
<h3>Car List</h3>

<p>
    <input type="text" @bind="_paragraphStyle" />
</p>

<p style="color:@_paragraphStyle">
    Blazorify the app!
</p>


<p>
    <input type="text" @bind="_paragraphStyle" />
</p>

<p @bind-style="_paragraphStyleType" @bind-style:event="onchange">
    Blazorify the app with bind-style!
</p>

@code {
    public static string _paragraphStyle = "red";
    private string _paragraphStyleType = $"color:{_paragraphStyle}";
}